@let menuItems = menuState.menuItemsWithHref();
<header class="px-3 py-2 d-flex align-items-center justify-content-between">
  <app-header-logo [href]="currentHref" />
  <div class="d-flex align-items-center gap-3 w-100">
    <app-header-contact class="ms-auto d-none d-lg-flex" />
    <div class="d-lg-none mx-auto position-relative">
      <div class="dropdown">
        <button
          class="btn btn-link p-0"
          type="button"
          id="menuDropdown"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          [attr.aria-label]="'header.menu.aria-label' | translate"
        >
          <i class="bi bi-list menu-icon" aria-hidden="true"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="menuDropdown">
          @for (item of menuItems; track item.key) {
            <li>
              <a
                class="dropdown-item"
                [href]="item.href"
                [attr.aria-current]="activeMenuItemKey === item.key ? 'page' : null"
                (click)="$event.preventDefault(); onNavClick(item)"
                >{{ item.key | translate }}</a
              >
            </li>
          }
        </ul>
      </div>
    </div>
    <app-header-settings class="ms-1" />
  </div>
</header>

<nav class="navbar navbar-expand-lg px-3 border-top d-none d-lg-block mb-1">
  <div class="navbar-collapse">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100">
      @for (item of menuItems; track item.key) {
        <li class="nav-item">
          <a
            class="nav-link"
            [href]="item.href"
            [attr.aria-current]="activeMenuItemKey === item.key ? 'page' : null"
            (click)="$event.preventDefault(); onNavClick(item)"
            >{{ item.key | translate }}</a
          >
        </li>
      }
    </ul>
  </div>
</nav>
