@use 'design-system/breakpoints' as bp;

:host {
  position: sticky;
  top: 0;
  z-index: 1050;
  background: var(--bs-body-bg);
}

.menu-icon {
  font-size: 1.5rem;
}

.nav-item {
  display: flex;
  width: 100%;
  max-width: 200px;
  text-align: center;
  cursor: pointer;
}

.nav-link {
  color: var(--bs-light);
  width: 100%;
  text-align: center;
  border-radius: var(--bs-border-radius-sm);

  &.active,
  &[aria-current='page'] {
    font-weight: 800;
    background: rgba(var(--bs-secondary-rgb), 0.15);
  }
  &:hover {
    background: rgba(var(--bs-secondary-rgb), 0.3);
    text-shadow: rgba(var(--bs-light-rgb), 0.35) 1px 0 10px;
  }
}

nav.navbar {
  border-bottom: 2px solid var(--bs-secondary);
  background: var(--bs-primary);
  color: var(--bs-light);
}
