<div
  class="realisations-details__meta"
  [attr.aria-label]="'realisations.details.meta.aria' | translate"
>
  <div>
    <span class="realisations-details__label">{{
      'realisations.details.meta.region' | translate
    }}</span>
    <strong>{{ region() }}</strong>
  </div>
  <div>
    <span class="realisations-details__label">{{
      'realisations.details.meta.years' | translate
    }}</span>
    <strong>{{ years() }}</strong>
  </div>
  <div>
    <span class="realisations-details__label">{{
      'realisations.details.meta.area' | translate
    }}</span>
    <strong>{{ area() }}</strong>
  </div>
</div>
